<form class ="hero-unit">
  <fieldset>
    <legend>Почему необычный</legend>
    <p> Только лучшие посты, модерация нашими посетителями, только качественный <br>
    и интересный контент от наших посетитейлей</p>
    <label>Пригласите своего друга</label>
    <input type="text" placeholder="name@example.com">
    </label>
    <button type="submit" class="btn btn-">Пригласить</button>
  </fieldset>
</form>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href= "#tab1"  data-toggle="tab">Мои статьи</a></li>
    <li><a href= "#tab2"  data-toggle="tab">Статьи моих друзей</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>Здесь хранятся мои рассказы.</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Здесь хранятся чужие истории.</p>
    </div>
  </div>
</div>
  

  <address>
  <strong>Medium, Inc.</strong><br>
  Novoslobodskaya, 600<br>
  Moscow, 125466<br>
  <abbr title="Phone">P:</abbr> (495) 456-7890
</address>
 
<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">info@medium.com</a>
</address>

</body>
</html>