<div class="row">
  	<div class="span4">
  	<h3> 1st story</h3>
  	<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQuHKnkHmsJJo0KbhbJqshwIHxGT-0FCCWT5MXG2po_xlbXd2Bc7g" class="img-circle">
    There are books and articles that discuss the proper amount of research—i.e., not too much—and they make important arguments. It is right not to use research as a procrastination tool or to feel crushed under the weight of human knowledge or to ascribe undue significance to quantity of information. It is also true that becoming an expert in a particular field changes how you look at everything else. Reading widely will make you an adept Renaissance man or woman; reading deeply will make you a critical force.
    <button class="btn btn-primary">Читать</button>
    </div>
      <div class="span4">
      	<h3> 2nd story</h3>
      That excised chapter section still sits in exile on my laptop. The research involved in writing those pages colored the entire project’s argument, and I lamented pulling them out. Now those pages glow with the promise of future writing endeavors. Maybe they will become the first book.
      </div>
      <div class="span4">
      	<h3> 3rd sttory</h3>
      	Real research—being dropped into the middle of a vast disciplinary expanse—requires ruthless editing to create a coherent product. I excised an entire chapter section on a particularly fascinating moment in nineteenth-century education. I delivered talks at conferences and seminars on research that simply did not, in the end, fit. I navigated e-mails from scholars after these talks, explaining that I couldn’t offer more: the topic did not facilitate my dissertation’s argument, and I simply would not have time to follow its particular thread beyond a footnote. 
      </div>
    </div>
    <ul class="pager">
  <li class="previous">
    <a href="#">&larr; Older</a>
  </li>
  <li class="next">
    <a href="#">Newer &rarr;</a>
  </li>
</ul>



<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Someone famous <cite title="Source Title">Source Title</cite></small>
</blockquote>

<blockquote class="pull-right">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Someone famous <cite title="Source Title">Source Title</cite></small>
</blockquote>

