<!-- adds gray background from site-->
<div class="hero-unit">
<h1>Самый необычный микроблог</h1>

<p>
      Вы еще никогда не видели ничего подобного
      <%= link_to "Medium", "#" %>
      закрытая бета.
</p>
<p>
	<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
</p>
</div>